@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #c1292e;
  --brand-background: #ffffff;
  --brand-active: #c1292e;
  --brand-header-background: #e2e1e1;
  --primary-red: #c1292e;
  --red-hover: #c1292e;
  --primary-white: #ffffff;
  --white-hover: #f2f2f2;
}

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@layer components {
  .btn {
    @apply bg-primary-red p-3 rounded-md focus:outline-none text-white;
    @apply hover:bg-red-hover transition-all;
    @apply focus:ring disabled:opacity-50;
  }
  .btn.danger {
    @apply bg-primary-red hover:bg-red-hover;
  }
  .input {
    @apply rounded-md border-gray-300 transition-colors disabled:opacity-50;
  }
  .card {
    @apply bg-primary-red p-5 rounded-md bg-white border;
  }
  .input-form {
    @apply mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-primary-red sm:text-sm;
  }
  .table-container {
    @apply border rounded-lg mt-5 shadow overflow-x-auto;
  }
  .table-filter {
    @apply flex flex-col lg:flex-row gap-5 rounded-lg p-3 shadow overflow-x-auto border;
  }
  .sidebar {
    @apply fixed h-full w-72 p-5 shadow flex flex-col transform -translate-x-72 bg-white lg:translate-x-0 transition-transform;
  }
  .sidebar.show {
    @apply translate-x-0 !important;
  }
}

body {
  font-family: 'Roboto', 'Helvetica', 'Helvetica Neue', 'Nunito Sans', sans-serif;
}
.button-container {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  background: white;
}